.card-img-top {
    height: 240px;
    width: 275px;
    margin: 0 auto;
    margin-top: 20px;
}

.card-img-top .placeholder {
    height: 100%;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
}