.image {
  width: 200px;
  height: 150px;
  display: inline-block;
  background-size: cover;
  background-position: center;
}

.image-container{
  cursor: pointer;
}

.delete-image {
  cursor: pointer;
}

.delete-image:hover {
  opacity: 0.5;
  text-decoration: underline;
}

.th-40 {
  width: 40px;
}

.th-image {
  width: 220px;
}

@media (min-width: 1150px) {
  .pagination-compact {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 1150px) {
  .responsive-image-table * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .responsive-image-table *:before, .responsive-image-table *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .responsive-image-table .image-table {
    border: none !important;
    background: transparent !important;
    display: block;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  .responsive-image-table .image-table .image-tbody {
    display: block;
  }
  .responsive-image-table .image-table .image-thead tr:first-child {
    display: none;
  }
  .responsive-image-table .image-table .image-tbody tr {
    display: block;
    border: 1px solid #383838;
    margin-bottom: 7px;
    width: 100%;
  }
  .responsive-image-table .image-table .image-tbody td {
    display: block;
    border: none !important;
    position: relative !important;
    padding-bottom: 5px !important;
    text-align: left !important;
  }
  .responsive-image-table .image-table .image-tbody td:before {
    padding-right: 5px;
  }
  .responsive-image-table .image-table .image-tbody td {
    padding-bottom: 10px !important;
    padding-top: 7px !important;
  }
  .responsive-image-table .image-table .image-tbody .image-container {
    height: 300px;
    display: block;
  }
  .responsive-image-table .image-table .image-tbody .image-container .image {
    height: 100%;
    width: 100%;
  }
  .responsive-image-table .image-table .image-tfoot {
    display: flex;
    justify-content: center;
  }
  .responsive-image-table .image-table .image-tfoot>tr {
    display: inline-flex;
  }
  .responsive-image-table .image-table .image-tfoot>tr>td {
    border-top: none;
    display: inline-flex;
  }
  .responsive-image-table .image-table .image-tfoot .table {
    margin-bottom: 0;
  }
  /* ----------------------------------------------------------
      1c. Insert Column Labels into the content attributes below (copy rows and change the td:nth-of-type numbers as needed to match table column number)
    ------------------------------------------------------------ */
  .responsive-image-table .image-table .image-tbody td:nth-of-type(1):before {
    content: "#: ";
    font-weight: bold;
  }
  .responsive-image-table .image-table .image-tbody td:nth-of-type(3):before {
    content: "Tooltip: ";
    font-weight: bold;
  }
}